# Analysis
$Mahsa Bakhtiari$

In [16]:
from datetime import datetime
import pandas as pd

In [17]:
data = pd.read_csv('./Resources/data.csv', index_col='Unnamed: 0')

In [18]:
data.head(2)

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments
0,1949-10-10 20:30:00,2700,san marcos,tx,us,29.883056,-97.941111,cylinder,This event took place in early fall around 194...
3,1956-10-10 21:00:00,20,edna,tx,us,28.978333,-96.645833,circle,My older brother and twin sister were leaving ...

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66516 entries, 0 to 80331
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           66516 non-null  object
 1   duration (seconds)  66516 non-null  int64
 2   city                66516 non-null  object
 3   state               66516 non-null  object
 4   country             66516 non-null  object
 5   latitude            66516 non-null  float64
 6   longitude           66516 non-null  float64
 7   shape               66516 non-null  object
 8   comments            66516 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.1+ MB

In [26]:
data["timestamp"] = pd.to_datetime(data["timestamp"])

In [27]:
data["date"] = data["timestamp"].map(lambda x: x.date())

In [29]:
data["time"] = data["timestamp"].map(lambda x: x.time())

In [30]:
data.head(2)

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
0,1949-10-10 20:30:00,2700,san marcos,tx,us,29.883056,-97.941111,cylinder,This event took place in early fall around 194...,1949-10-10,20:30:00
3,1956-10-10 21:00:00,20,edna,tx,us,28.978333,-96.645833,circle,My older brother and twin sister were leaving ...,1956-10-10,21:00:00

In [68]:
target = data.groupby(["date"])["date"].count()

In [71]:
#target = pd.DataFrame(data=target, index=None).reset_index()
target = target.loc[lambda x: x>10]

In [75]:
dates = target.index.tolist()

[12,
 13,
 13,
 11,
 16,
 11,
 14,
 14,
 17,
 16,
 13,
 14,
 13,
 16,
 20,
 13,
 11,
 14,
 28,
 14,
 15,
 21,
 11,
 12,
 30,
 19,
 18,
 17,
 14,
 23,
 17,
 12,
 15,
 11,
 16,
 19,
 11,
 12,
 23,
 14,
 14,
 12,
 16,
 11,
 16,
 13,
 13,
 16,
 11,
 18,
 15,
 14,
 13,
 15,
 12,
 21,
 19,
 20,
 14,
 12,
 11,
 27,
 17,
 11,
 17,
 22,
 23,
 11,
 13,
 14,
 17,
 63,
 12,
 25,
 24,
 56,
 20,
 15,
 12,
 20,
 31,
 12,
 25,
 16,
 12,
 22,
 17,
 18,
 13,
 18,
 18,
 11,
 37,
 14,
 16,
 12,
 12,
 18,
 18,
 11,
 13,
 17,
 13,
 37,
 23,
 19,
 11,
 16,
 12,
 11,
 11,
 18,
 11,
 38,
 45,
 13,
 11,
 20,
 12,
 20,
 16,
 13,
 12,
 16,
 25,
 14,
 17,
 11,
 11,
 159,
 13,
 14,
 14,
 13,
 17,
 12,
 15,
 11,
 17,
 19,
 13,
 12,
 15,
 15,
 17,
 19,
 24,
 27,
 15,
 21,
 16,
 11,
 15,
 24,
 14,
 11,
 12,
 11,
 22,
 15,
 11,
 14,
 16,
 15,
 11,
 12,
 12,
 21,
 12,
 13,
 12,
 14,
 19,
 34,
 12,
 13,
 19,
 14,
 11,
 11,
 12,
 12,
 13,
 18,
 12,
 20,
 15,
 17,
 13,
 13,
 32,
 13,
 16,
 16,
 17,
 11,
 15,
 11,
 12,
 17,
 11,
 19,
 16,
 16,
 11,
 14,
 15,
 14,
 15,
 11,
 12,
 14,
 32,
 16,
 15,
 13,
 13,
 15,
 28,
 12,
 13,
 12,
 15,
 42,
 42,
 13,
 13,
 21,
 11,
 11,
 11,
 20,
 18,
 11,
 13,
 17,
 11,
 26,
 15,
 11,
 17,
 16,
 11,
 20,
 13,
 18,
 14,
 13,
 15,
 13,
 12,
 14,
 12,
 30,
 15,
 16,
 14,
 21,
 12,
 12,
 12,
 16,
 11,
 12,
 13,
 16,
 17,
 16,
 15,
 27,
 12,
 27,
 11,
 11,
 30,
 15,
 11,
 12,
 21,
 12,
 24,
 19,
 13,
 11,
 14,
 13,
 11,
 20,
 13,
 13,
 11,
 17,
 11,
 11,
 14,
 17,
 11,
 12,
 12,
 12,
 17,
 12,
 12,
 16,
 14,
 19,
 15,
 17,
 16,
 14,
 13,
 11,
 16,
 27,
 18,
 15,
 11,
 15,
 14,
 15,
 11,
 11,
 16,
 11,
 11,
 14,
 21,
 13,
 21,
 16,
 15,
 25,
 18,
 18,
 20,
 42,
 24,
 15,
 13,
 23,
 22,
 13,
 17,
 12,
 21,
 15,
 11,
 17,
 12,
 11,
 11,
 15,
 16,
 20,
 16,
 11,
 17,
 12,
 14,
 12,
 11,
 17,
 26,
 14,
 29,
 11,
 22,
 13,
 16,
 13,
 12,
 11,
 18,
 13,
 11,
 11,
 14,
 50,
 12,
 12,
 21,
 13,
 23,
 18,
 21,
 11,
 11,
 13,
 14,
 12,
 11,
 13,
 13,
 11,
 12,
 11,
 13,
 13,
 15,
 12,
 11,
 11,
 12,
 16,
 19,
 14,
 11,
 13,
 15,
 11,
 13,
 14,
 14,
 13,
 15,
 12,
 15,
 11,
 14,
 11,
 17,
 22,
 25,
 14,
 11,
 15,
 12,
 12,
 12,
 12,
 19,
 12,
 13,
 11,
 15,
 15,
 12,
 13,
 15,
 12,
 11,
 18,
 14,
 14,
 13,
 16,
 22,
 16,
 16,
 31,
 21,
 16,
 11,
 11,
 11,
 11,
 21,
 12,
 16,
 11,
 11,
 12,
 14,
 16,
 15,
 18,
 13,
 24,
 19,
 11,
 32,
 22,
 52,
 12,
 46,
 12,
 11,
 18,
 14,
 13,
 13,
 11,
 17,
 14,
 12,
 14,
 15,
 12,
 16,
 15,
 16,
 15,
 13,
 11,
 11,
 22,
 12,
 15,
 21,
 13,
 79,
 11,
 14,
 13,
 17,
 14,
 11,
 13,
 12,
 14,
 12,
 17,
 11,
 12,
 14,
 13,
 12,
 12,
 12,
 14,
 13,
 11,
 11,
 12,
 12,
 12,
 17,
 13,
 15,
 16,
 12,
 16,
 37,
 11,
 11,
 22,
 13,
 11,
 11,
 14,
 11,
 11,
 12,
 27,
 12,
 20,
 11,
 12,
 13,
 24,
 19,
 29,
 13,
 12,
 17,
 13,
 13,
 13,
 12,
 26,
 14,
 11,
 13,
 12,
 17,
 15,
 11,
 16,
 15,
 12,
 18,
 23,
 12,
 15,
 17,
 19,
 11,
 14,
 11,
 15,
 12,
 12,
 14,
 14,
 11,
 16,
 19,
 16,
 29,
 13,
 14,
 12,
 56,
 42,
 11,
 18,
 12,
 13,
 11,
 27,
 13,
 12,
 18,
 13,
 11,
 12,
 17,
 33,
 15,
 24,
 20,
 18,
 11,
 24,
 12,
 14,
 14,
 13,
 14,
 22,
 11,
 11,
 23,
 11,
 11,
 13,
 13,
 11,
 14,
 12,
 14,
 14,
 12,
 16,
 13,
 11,
 13,
 13,
 15,
 12,
 12,
 21,
 11,
 15,
 11,
 11,
 17,
 17,
 16,
 13,
 12,
 12,
 20,
 11,
 12,
 12,
 24,
 14,
 15,
 16,
 11,
 15,
 16,
 15,
 13,
 14,
 11,
 17,
 20,
 12,
 11,
 17,
 15,
 12,
 11,
 11,
 13,
 18,
 14,
 11,
 11,
 44,
 11,
 16,
 11,
 13,
 12,
 15,
 12,
 18,
 11,
 13,
 12,
 12,
 17,
 11,
 13,
 14,
 15,
 36,
 11,
 12,
 13,
 12,
 11,
 14,
 16,
 16,
 28,
 11,
 15,
 28,
 18,
 24,
 11,
 12,
 13,
 17,
 11,
 11,
 13,
 12,
 14,
 17,
 16,
 12,
 13,
 17,
 14,
 11,
 17,
 11,
 13,
 11,
 17,
 13,
 12,
 11,
 12,
 12,
 13,
 11,
 12,
 14,
 11,
 14,
 13,
 13,
 14,
 14,
 13,
 11,
 11,
 11,
 15,
 12,
 15,
 13,
 13,
 33,
 28,
 12,
 15,
 17,
 12,
 17,
 20,
 34,
 19,
 12,
 12,
 15,
 14,
 22,
 15,
 26,
 13,
 15,
 14,
 12,
 13,
 13,
 19,
 31,
 12,
 20,
 11,
 14,
 17,
 18,
 11,
 15,
 17,
 11,
 23,
 19,
 12,
 13,
 13,
 13,
 16,
 12,
 19,
 20,
 14,
 19,
 21,
 12,
 15,
 15,
 12,
 12,
 15,
 11,
 11,
 18,
 11,
 12,
 14,
 13,
 16,
 15,
 14,
 12,
 11,
 11,
 13,
 13,
 11,
 20,
 17,
 16,
 20,
 11,
 11,
 17,
 13,
 16,
 12,
 13,
 14,
 36,
 20,
 14,
 16,
 11,
 16,
 31,
 12,
 11,
 20,
 14,
 16,
 13,
 21,
 12,
 14,
 13,
 21,
 12,
 16,
 16,
 11,
 12,
 12,
 12,
 11,
 12,
 11,
 12,
 18,
 27,
 14,
 17,
 11,
 12,
 11,
 18,
 13,
 11,
 11,
 11,
 16,
 13,
 16,
 15,
 21,
 12,
 13,
 13,
 27,
 20,
 14,
 14,
 18,
 14,
 15,
 15,
 15,
 14,
 16,
 11,
 11,
 12,
 11,
 11,
 11,
 13,
 13,
 12,
 18,
 22,
 18,
 14,
 12,
 11,
 24,
 12,
 13,
 14,
 17,
 19,
 14,
 16,
 15,
 21,
 12,
 15,
 53,
 31,
 11,
 13,
 19,
 21,
 14,
 17,
 16,
 11,
 11,
 16,
 21,
 14,
 13,
 21,
 19,
 30,
 21,
 18,
 13,
 15,
 22,
 15,
 15,
 14,
 15,
 16,
 11,
 14,
 12,
 11,
 13,
 11,
 18,
 12,
 11,
 11,
 14,
 16,
 12,
 14,
 16,
 15,
 12,
 12,
 13,
 12,
 12,
 14,
 25,
 12,
 16,
 20,
 17,
 12,
 11,
 17,
 13,
 17,
 12,
 12,
 18,
 13,
 15,
 13,
 12,
 24,
 15,
 18,
 28,
 21,
 ...]